* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
}

header {
  background-color: white;
  box-shadow: 1px 10px 5px -4px rgba(0, 0, 0, 0.22);
  position: sticky;
  top: 0px;
}

.logo {
  height: 6rem;
  margin: 0px 30px;
}

section {
  background-color: azure;
  box-shadow: 1px 10px 5px -4px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}
h1 {
  font-weight: 900;
  font-size: 3rem;
  font-style: normal;
  line-height: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(18, 133, 133);
}

.offerForm {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  gap: 1rem;
}

input {
  border-radius: 0.5rem;
  height: 2rem;
  text-align: center;
  border: none;
  background-color: rgb(140, 242, 242);
}
label {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

textarea {
  border-radius: 0.5rem;
  text-align: center;
  border: none;
  background-color: rgb(140, 242, 242);
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "upload picture";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);

  border-radius: 3px;
  padding: 9px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
